<header>
	<a href="#main-content" class="skip-nav-link">Skip to Content</a>

	<nav class="navbar menu is-fixed-top is-spaced has-shadow" role="navigation" aria-label="main navigation">
		<div class="navbar-brand">
		  <a class="navbar-item" href="/">
			<span id="logo-function">(<span id="logo-argument">jdegbau</span>) => {<span id="logo-cursor"></span>}</span>
		  </a>
	  
		  <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar-menu-list">
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
		  </a>
		</div>
	  
		<div id="navbar-menu-list" class="navbar-menu">
                <div class="navbar-start mx-auto">
                    {% assign nav_pages = "/,About|/blog/,Blog|https://store.jdegbau.com/,Ready-Made GTM Templates|/contact/,Contact" | split: "|" %}
                    
                    {% for item in nav_pages %}
                        {% assign parts = item | split: "," %}
                        {% assign path = parts[0] %}
                        {% assign label = parts[1] %}
                        
                        <a href="{{ path }}" 
                           class="navbar-item {% if page.url contains path and path != '/' %}is-active{% elsif page.url == '/' and path == '/' %}is-active{% endif %}">
                            {{ label }}
                        </a>
                    {% endfor %}
                </div>
				
		  <div class="navbar-end ml-0">
			{% include search.md %}
		  </div>
		</div>
	  </nav>
</header>