<aside id="sidebar-content" class="card">
    <div class="card-content">
        <img id="profile-photo" width="200px" height="250px" src="/assets/img/joshua-degrasse-baumann.JPG" alt="Josh and Bailey" loading="lazy" />
        <div id="skills" class="content">
            <p class="is-size-5">Skills</p>
            <img width="24px" height="24px" alt="Google Analytics skill icon" src="/assets/img/google-analytics.png" loading="lazy">
            <img width="24px" height="24px" alt="Google Tag Manager skill icon" src="/assets/img/tag-manager.png" loading="lazy">
            <img width="24px" height="24px" alt="CSS skill icon" src="/assets/img/css.png" loading="lazy">
            <img width="24px" height="24px" alt="JavaScript skill icon" src="/assets/img/javascript.png" loading="lazy">
            <div class="visually-hidden">
              <p>Skills include:</p>
              <ul>
                <li>Google Analytics</li>
                <li>Google Tag Manager</li>
                <li>CSS</li>
                <li>JavaScript</li>
              </ul>
            </div>
        </div>
        <a href="/seo-helpline/" class="button is-medium is-rounded is-outlined is-fullwidth is-primary"><i class="fa-solid fa-phone mr-2" aria-hidden="true"></i>SEO Helpline</a>
      </div>
</aside>