<div id="sidebar-content">
    <img src="/assets/img/josh-and-bailey-min.png" alt="Josh and Bailey" />
    <nav id="main-nav" class="menu">
        <ul class="menu-list">
            <li><a {% if page.url == '/' %}class="is-active"{% endif %} href="/">About</a></li>
            <li><a {% if page.url contains '/blog/' %}class="is-active"{% endif %} href="/blog/">Blog</a></li>
            <li><a {% if page.dir contains '/contact/' %}class="is-active"{% endif %} href="/contact/">Contact</a></li>
        </ul>
    </nav>
<footer class="footer"><span>&copy; {{ site.time | date: '%Y' }} <a href="/">Joshua DeGrasse-Baumann</a></span></footer>
</div>