<aside id="sidebar-content" class="card">
    <div class="card-content">
        <img id="profile-photo" src="/assets/img/joshua-degrasse-baumann.JPG" alt="Josh and Bailey" />
        <div id="skills" class="content">
            <h5 class="is-size-5">Skills</h5>
            <img width="24px" height="24px" alt="HTML" src="/assets/img/html.png">
            <img width="24px" height="24px" alt="CSS" src="/assets/img/css.png">
            <img width="24px" height="24px" alt="JavaScript" src="/assets/img/javascript.png">
            <img width="24px" height="24px" alt="Node.JS" src="/assets/img/nodejs.png">
        </div>
        <button class="button is-medium is-rounded is-outlined is-fullwidth is-primary">Hire Me</button>
      </div>
</aside>