$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
}

// Sidebar
#sidebar {
  text-align: center;
}

#sidebar-content {
  position: sticky;
  top: 5px;
}

// Mobile Sidebar Nav
span#toggle {
  top: 5px;
  right: 5px;
  position: fixed;
  z-index: 3;
  background: lightgray
}

div#sidebar.open {
  display: block!important;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  background: white!important;
  height: 100vh;
  transition: background 4s 4s ease;
}

#sidebar.open #sidebar-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
}

// Blog Card Overrides

#blog-cards .card {
  display:flex;
  flex-direction: column;
  height: 100%;
}

#blog-cards .card-footer {
  margin-top: auto;
}

// Reading Progress Bar

#progress-bar {
  background-image: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%);
  width: 0;
  height: 5px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

// Search

div#search {
  position: relative;
}

#search-container {
  width: 75%;
  margin: 0 auto;
}

#results-container {
  position: absolute;
  width: 100%;
}