@charset "utf-8";

// Import Google Fonts
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

// Brand colors
$orange: #FD7014;
$black: #222831;
$white: #EEEEEE;
$family-sans-serif: "Nunito", sans-serif;
$family-monospace: "JetBrains Mono", monospace;

@import "./utilities/initial-variables.sass";

// Update Bulma's derived variables
@import "./utilities/functions.sass";

$primary: $orange;
$scheme-main: $black;
$scheme-main-bis: $black-bis;
$scheme-main-ter: $black-ter;
$scheme-invert: $white;
$scheme-invert-bis: $white-bis;
$scheme-invert-ter: $white-ter;

$text: $grey-lighter;
$text-invert: findColorInvert($text);
$text-light: findDarkColor($white);
$text-strong: findLightColor($grey);

$link: $primary;
$navbar-item-hover-background-color: $scheme-main-ter;

$background: $black-ter;
$card-background-color: $scheme-main-ter;

@import "./utilities/derived-variables.sass";

// Import only what you need from Bulma
@import "./utilities/animations.sass";
@import "./utilities/controls.sass";
@import "./utilities/extends.sass";
@import "./utilities/mixins.sass";
@import "./base/_all.sass";
@import "./components/_all.sass";
@import "./elements/_all.sass";
@import "./form/_all.sass";
@import "./grid/_all.sass";
@import "./helpers/_all.sass";
@import "./layout/_all.sass";

// Sidebar
#sidebar {
  text-align: center;
}

#sidebar-content {
  position: sticky;
  top: 95px;
}

#profile-photo {
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

// Blog Card Overrides

#blog-cards .card {
  display:flex;
  flex-direction: column;
  height: 100%;
}

#blog-cards .card-footer {
  margin-top: auto;
}

// Skip Nav Link

.skip-nav-link {
  color: #0f0f0f;
  background: #f0f0f0;
  position: absolute;
  transform: translateY(-250%);
  border-radius: 0 0 .25rem .25rem;
  z-index: 31;
  padding: .5rem;
  left: .5rem;
  transition: transform .5s ease-in;
}

.skip-nav-link:focus {
  transform: translateY(-130%);
}

// Reading Progress Bar

#progress-bar {
  background-image: linear-gradient(to right, $black 0%, $orange 31%, $white 100%);
  width: 0;
  height: 5px;
  position: fixed;
  top: 90px;
  left: 0;
  z-index: 2;
}

@media (max-width: 1023px) {
  #progress-bar {
    top: 58px;
  }
}

/*----------
Copy Code Block
----------*/

pre.highlight > button {
  opacity: 0;
}

pre.highlight:hover > button {
  opacity: 1;
}

pre.highlight > button:active,
pre.highlight > button:focus {
  opacity: 1;
}

/*----------
Search
----------*/

div#search {
  position: relative;
}

#search-container {
  width: 75%;
  margin: 0 auto;
}

#results-container {
  position: absolute;
  width: 100%;
}

@media (max-width: 1023px) {
  #results-container {
    position: initial;
  }
}

// Navigation

.navbar-brand {
  font-size: 1.75em;
  font-family: 'JetBrains Mono', monospace;
}

span#logo-cursor::after {
  height: 1.75rem;
  width: 2px;
  background: $white;
  display: inline-block;
  content: "";
  margin: -4px;
  margin-left: .5rem;
  margin-right: .5rem;
}

span#logo-cursor {
  opacity: 0;
  animation: blink 1s linear infinite alternate;
  display: inline-block;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

span#logo-function {
  color: #de6868;
}
span#logo-argument {
  color: $orange;
}

span.navbar-brand {
  color: $white;
}

// Skills

#skills img {
  margin-inline: .5rem;
}

// Code Highlighter

figure.highlight { text-align: left!important; margin: 0!important }
figure.highlight pre { white-space: pre-wrap }
.highlight .hll { background-color: #ffffcc }
.highlight .c { color: #008000 } /* Comment */
.highlight .err { border: 1px solid #FF0000 } /* Error */
.highlight .k { color: #0000ff } /* Keyword */
.highlight .cm { color: #008000 } /* Comment.Multiline */
.highlight .cp { color: #0000ff } /* Comment.Preproc */
.highlight .c1 { color: #008000 } /* Comment.Single */
.highlight .cs { color: #008000 } /* Comment.Special */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gh { font-weight: bold } /* Generic.Heading */
.highlight .gp { font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { font-weight: bold } /* Generic.Subheading */
.highlight .kc { color: #0000ff } /* Keyword.Constant */
.highlight .kd { color: #0000ff } /* Keyword.Declaration */
.highlight .kn { color: #0000ff } /* Keyword.Namespace */
.highlight .kp { color: #0000ff } /* Keyword.Pseudo */
.highlight .kr { color: #0000ff } /* Keyword.Reserved */
.highlight .kt { color: #2b91af } /* Keyword.Type */
.highlight .s { color: #a31515 } /* Literal.String */
.highlight .nc { color: #2b91af } /* Name.Class */
.highlight .ow { color: #0000ff } /* Operator.Word */
.highlight .sb { color: #a31515 } /* Literal.String.Backtick */
.highlight .sc { color: #a31515 } /* Literal.String.Char */
.highlight .sd { color: #a31515 } /* Literal.String.Doc */
.highlight .s2 { color: #a31515 } /* Literal.String.Double */
.highlight .se { color: #a31515 } /* Literal.String.Escape */
.highlight .sh { color: #a31515 } /* Literal.String.Heredoc */
.highlight .si { color: #a31515 } /* Literal.String.Interpol */
.highlight .sx { color: #a31515 } /* Literal.String.Other */
.highlight .sr { color: #a31515 } /* Literal.String.Regex */
.highlight .s1 { color: #a31515 } /* Literal.String.Single */
.highlight .ss { color: #a31515 } /* Literal.String.Symbol */