<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    {% if page.SEO_title %}
    <title>{{ page.SEO_title }}</title>
    {% else %}
    <title>{{ page.title }} - {{ site.title }}</title>
    {% endif %}
    <link rel=“canonical” href={{ site.url }}{{ page.canonical | default: page.url }} />
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    {%if page.featured-image %}<link rel="preload" as="image" href="{{ page.featured-image }}">{% endif %}
  </head>
  <body>
    <div id="progress-bar"></div>
    <div class="columns">
      <div class="column is-three-quarters">
        <h1>{{ page.title }}</h1>
        {{ content }}
      </div> <!-- end .content -->
      <div id="column sidebar">{% include sidebar.html %}</div> <!-- end #sidebar -->
    </div> <!-- end .container -->
  </body>
</html>