---
layout: wrapper
---

<p class="subtitle is-6">{{ page.date | date: "%b %-d, %Y"}} - Written by {{ page.author }} - {% include read-time.md %}</p>
{% if page.category %}
<p class="is-size-6">
  Category: <a href="/blog/category/{{ page.category | slugify }}/">{{ page.category }}</a>
</p>
{% endif %}
{% if page.featured_image %}
<figure class="image is-16x9">
    <img src="{{ page.featured_image }}" alt="{{page.title}}" fetchpriority="high" />
</figure>
{% endif %}
{{ content }}

<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ site.url }}{{ page.url }}#blog-posting"
    },
    "headline": "{{ page.title }}",
    "description": "{{ page.excerpt }}",
    "image": "{{site.url}}{{ page.featured_image }}",  
    "author": {
        "@type": "Person",
        "name": "{{ page.author }}",
        "url": "{{ site.url }}",
        "@id": "{{ site.url }}#person"
    },
    "datePublished": "{{ page.date | date: "%Y-%m-%d"}}"
}
</script>