<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}" class="has-navbar-fixed-top">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable="no">
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    {% if page.SEO_title %}
    <title>{{ page.SEO_title }}</title>
    {% else %}
    <title>{{ page.title }} - {{ site.title }}</title>
    {% endif %}
    {% if page.title != "Page Not Found" %}<link rel=“canonical” href={{ site.url }}{{ page.canonical | default: page.url }} />{% endif %}
    {% if page.featured-image %}<link rel="preload" as="image" href="{{ page.featured-image }}">{% endif %}
    <link rel="icon" href="/assets/img/favicon.gif" type="image/gif" >
  </head>
  <body>
    {% include navigation.html %}
    <div id="progress-bar"></div>
    <div class="columns section">
      <div class="column is-four-fifths is-gapless">
        <section class="content container">
          <h1 class="title">{{ page.title }}</h1>
          {{ content }}
        </section>
      </div>
      <div id="sidebar" class="column">{% include sidebar.html %}</div> <!-- end #sidebar -->
    </div>
    <footer class="footer"><span>&copy; {{ site.time | date: '%Y' }} <a href="/">Joshua DeGrasse-Baumann</a></span></footer>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <script src="https://kit.fontawesome.com/13ccd4d90b.js" crossorigin="anonymous" defer></script>
    <script src="/assets/js/mobile-nav.js"></script>
    <script src="//instant.page/5.1.0" type="module" integrity="sha384-by67kQnR+pyfy8yWP4kPO12fHKRLHZPfEsiSXR8u2IKcTdxD805MGUXBzVPnkLHw"></script>
</html>