<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    {% if page.SEO_title %}
    <title>{{ page.SEO_title }}</title>
    {% else %}
    <title>{{ page.title }} - {{ site.title }}</title>
    {% endif %}
    {% if page.title != "Page Not Found" %}<link rel=“canonical” href={{ site.url }}{{ page.canonical | default: page.url }} />{% endif %}
    {% if page.featured-image %}<link rel="preload" as="image" href="{{ page.featured-image }}">{% endif %}
  </head>
  <body>
    <div id="progress-bar"></div>
    <span id="toggle" class="icon is-large is-hidden-tablet" alt="open navigation">
      <i id="toggle-icon" class="fas fa-bars"></i>
  </span>
    <div class="columns is-gapless section">
      <div class="column is-8">
        <section class="content container is-fluid">
          <h1 class="title">{{ page.title }}</h1>
          {{ content }}
        </section>
      </div>
      <div id="sidebar" class="column is-hidden-mobile">{% include sidebar.html %}</div> <!-- end #sidebar -->
    </div>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <script src="https://kit.fontawesome.com/13ccd4d90b.js" crossorigin="anonymous" defer></script>
    <script src="/assets/js/mobile-nav.js"></script>
</html>