<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}" class="has-navbar-fixed-top">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    {% if page.SEO_title %}
    <title>{{ page.SEO_title }}</title>
    {% else %}
    <title>{{ page.title }} - {{ site.title }}</title>
    {% endif %}
    {% if page.noindex %}<meta name="robots" content="noindex">{% endif %}
    <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml">
    <link rel="icon" href="/assets/img/favicon.gif" type="image/gif">
    {% if page.title != "Page Not Found" %}<link rel=“canonical” href={{ site.url }}{{ page.canonical | default: page.url }} />{% endif %}
    {% if page.featured-image %}<link rel="preload" as="image" href="{{ page.featured-image }}">{% endif %}
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NM6JBXF');</script>
    <!-- End Google Tag Manager -->
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NM6JBXF"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {% include navigation.html %}
    <div id="progress-bar"></div>
    <div class="columns section">
      <main class="column is-three-quarters">
        <section class="content container">
          <h1 class="title">{{ page.title }}</h1>
          {{ content }}
        </section>
      </main>
      <div id="sidebar" class="column">{% include sidebar.html %}</div> <!-- end #sidebar -->
    </div>
    <footer class="footer">
      <div class="columns is-reversed-mobile">
        <div class="column">
          <p>&copy; {{ site.time | date: '%Y' }} <a href="/">Joshua DeGrasse-Baumann</a></p>
        </div>
        <div class="column">
          <h3 class="subtitle is-4">Join My Newsletter!</h3>
          {% include newsletter.html %}
        </div>
      </div>
    </footer>    
    <script src="https://kit.fontawesome.com/13ccd4d90b.js" crossorigin="anonymous" defer></script>
    <script src="/assets/js/mobile-nav.js" defer></script>
    <script src="/assets/js/copy-code-block.js" defer></script>
    <script src="//instant.page/5.1.0" type="module" integrity="sha384-by67kQnR+pyfy8yWP4kPO12fHKRLHZPfEsiSXR8u2IKcTdxD805MGUXBzVPnkLHw" defer></script>
</html>